<div ng-controller="AddController">
  <super-navbar>
  	    <super-navbar-title>
  	      Add a prescription
  	    </super-navbar-title>
  </super-navbar>

  <br>
<div class="button-bar"  width=400 height=500>

  <button ng-click="getPicture()" class="button icon-left super-camera button-calm">
       Upload a photo of the prescription
  </button>


  <button ng-click="addItem()" class="button icon-left super-paper-airplane button-calm">Submit</button>

</div>
  <p id="test"></p>

  <img id='myAddImage'/> 
</div>	

